<% provide(:title, "Store Index") %>

<%= link_to "New Store", new_store_path %>

<%= will_paginate %>

<ul class="store-list">
  <% @stores.each do |store| %>
    <li>
      <%= image_tag store.image.thumb.url %>
      <%= link_to store.name, store %>
      <% if you_da_boss? %>
      <%= link_to "Delete Store", store, method: 'delete', data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
