<% provide(:title, "User Index") %>

<%= select_tag "User Type", "<option>All</option><option>Runners</option><option>Customers</option><option>Active</option>".html_safe, class: "user-select", id: "user-type-select" %>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li class="user-box <%= user.status %>">
      <%= image_tag user.image.url(:thumb) %>
      <%= link_to user.email, user, class: 'user-name' %>
    </li>
  <% end %>

</ul>

<%= will_paginate %>
