<% provide(:title, "All Orders, Past and Present") %>
<div class="orders">
<% @orders.each do |o| %>
  <div class="current-orders <%= o.status %>">
  		<span class="line-order">
  			<%= o.customer.user.first_name %> wants <%= o.what_they_want.truncate(27, separator: ' ') %>
  		</span>
      <span class="runner-name">
        <%= o.runner.user.first_name %> is assigned.
      </span>
      <span class="order-created">
        <%= o.created_at.to_formatted_s(:short) %>
      </span>
      <%= link_to "View This Order", o, class: 'button assign' %>
  </div>
<% end %>
</div>
 
