<% provide(:title, "Order for " + @order.customer.user.first_name) %>

<% unless @order.cart_items.empty? %>
  <%= render 'cart' %>
  <% unless @order.ordered? %>
    <%= render 'total' %>
    <%= link_to "Place Order", cart_order_url, class: 'button', method: 'post' %>
    <%= link_to "Keep Shopping", stores_url, class: 'button' %>

  <% else %>
    <a href="#track_order" class="button">Track Order</a>
  <% end %>
<% else %>
  <h1>Your Cart is Empty</h1>
  <%= link_to "Go Shopping", stores_url, class: 'button' %>
<% end %>

<!-- Dispatch Controls-->
<% if you_da_boss? || you_dispatch? %>

<div class="orders">

<div class="order-details">
  <div class="sub-details ">
    <h4>Order for:</h4> 
    <span class="cust-name">
      <%= @order.customer.user.full_name %>
    </span>
  </div>

  <div class="sub-details">
    <h4>Assigned to:</h4>
    <span class="runn-name">
      <%= @order.runner.user.full_name %>
    </span>
  </div>

  <div class="sub-details">
    <h4>When they ordered it:</h4>
    <span class="order-time">
      <%= @order.created_at.to_formatted_s(:short) %>   
    </span>
  </div>

  <div class="sub-details">
    <h4>Deliver this to:</h4>
    <span class="dropoff-spot">
      <%= @order.where_it_goes %>   
    </span>
  </div>

  <div class="sub-details">
    <h4>Has it been purchased yet?</h4>
    <span class="status">
      <%= @order.progressed? ? "Yes, at #{@order.time_obtained}" : "No" %>    
    </span>
  </div>

  <div class="sub-details">
    <h4>Has it been delivered yet?</h4>
    <span class="status">
      <%= @order.finished? ? "Yes, at #{@order.time_delivered}" : "No" %>    
    </span>
  </div>

  <% unless @order.assigned? %> 
    <%= link_to "Dispatch this order",   edit_order_path(@order), class: 'button' %>
   <% else %>
    <%= link_to "Redispatch this order", edit_order_path(@order), class: 'button' %>
  <% end %> 
<% end %>

  <!-- Runner Controls-->
  <% if current_user?(@runn) || you_da_boss? %>    
    <% if @order.status == 'open' %>
      <div class="runner-controls" >
      <%= form_tag(controller: "orders", action: "progress", method: 'post', multipart: true, class: 'progress') do %>
        <%= file_field_tag "order[receipt]", accept: "image/*;capture=camera" %>
        <%= label_tag :order_retail_total %>
        <input type="number" name="order[retail_total]" id="order_retail_total" step="0.01" >
        <%= submit_tag "Progress this order" %>
      <% end %>

    <% elsif @order.status == 'prog' %>
      <%= link_to "Complete this order", "#{@order.id}/finished", method: 'post', class: 'button' %>
    <% end %>
    </div>
  <% end %>

</div>
